.over-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.over-ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.over-ellipsis-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-line-clamp: 3;
  overflow: hidden;
}


.fl {
	display: flex;	
}

.jc-between {
	justify-content: space-between;
	// flex-wrap: wrap;
}

.jc-around {
	justify-content: space-around;
}

.fl-warp{
	flex-wrap: wrap;
}
.jc-center{
	justify-content: center;
}

.al-center{
	align-items: center;
}
.flcenter{
	display: flex;
	justify-content: center;
}
.flspacebet{
	display: flex;
	justify-content: space-between;
	
}
.flcolcenter{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.flcolcenter2{
	display: flex;
	flex-direction: column;
	align-items: center;
}
